#taxonomer {
	background-color: #777777;
	position: absolute;
}

.taxonomy-item.selected {
	background-color: blue;
	color: white;
}

.taxonomy-item {
	border: 1px solid;
	margin: 4px;
}

.keyword {
	list-style: inside;
}