#poker-configuration {
	padding: 10p;
}

#poker-configuration label {
	margin-top: 10px;
	display: block;
}

#poker-configuration input {
	width: 75%;
}

#repo-list-container {
    border: 1px solid;
    margin: 20px;
    overflow: hidden;
}