#poker-detail {
	max-width: 90vw;
}

.task-entry span, .task-entry input {
	float: right;
}

.task-entry>progress {
	margin: 0px 20px;
}

.editableListEntry ul {
	margin-top: 4px;
	margin-bottom: 0px;
}

.editableListEntry li {
	line-height: 1em;
	list-style: none;
}

.issue-closed {
	text-decoration: line-through;
}

.issue img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-left: 5px;
}

.issue a {
	margin-left: 5px;
}

.issue span {
	float: none;
	background: none;
	display: inline-block;
	width: 2em;
}

.issue-closed a {
	color: #666666;
}

#poker-detail-events {
	float: right;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

#txt-project-totalCredits-label {
	margin-left: 30vw;
}

#progress-project-estimated-label {
	margin-left: 30vw;
}

#progress-project-real-label {
	margin-left: 30vw;
}