.wiki-content {
	border: 1px gray solid;
	padding: 50px;
	margin: 20px;
	background-color: white;
	height: 74%;
	margin: 2%;
	padding: 3%;
	width: 90%;
}

#txtWiki {
	width: 100%;
	height: 100%;
}

#wiki-title {
	background-color: blue;
	color: white;
}

#wiki-render {
	height: 100%;
	overflow-y: scroll;
	border: 1px solid gray;
	border-radius: 10px;
	border: 1px solid blue;
}